
.tableWrapper {
    max-width: 100%;
    height: fit-content;

    overflow: hidden;

    display: grid;
    align-content: flex-start;

    color: var(--fabric-color-secondary);


    padding-bottom: 64px;
}

.container {


    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 100%;
    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    position: relative;


}

.divider {
    height: 50%;
    width: 1px;
    background: var(--fabric-border-secondary);
}

.dropdown {
    width: clamp(25px, 7%, 35px);
    height: 100%;
    padding: 0 !important;

    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute !important;

    right: 0;

    transform: translateX(calc(100% - 8px));
}
.dropdown[data-open = 'true']{
    transform: translateX(0);
    box-shadow: var(--fabric-boxshadow);
}
.dropdown:hover{
    transform: translateX(0);


    box-shadow: var(--fabric-boxshadow);
}

.listRow {
    height: fit-content;
    position: relative;
    overflow-x: visible;
    cursor: pointer;

}
.empty{
    display: grid;
    justify-content: center;

    color: var(--fabric-color-quaternary);
    justify-items: center;


    font-size: .8rem;
    font-weight: 550;
}

.row {
    user-select: none;
    padding: 4px;
    cursor: pointer !important;
    transition: 150ms linear;
}

.row:hover {
    border-color: var(--fabric-accent-color);

}

.row:active {
    border-color: var(--fabric-accent-color);
    background: var(--fabric-background-quaternary) !important;

}

